{% extends "home/base.html" %}

{% block content %}
<div class="banner2"> 
    <div class="app-text2">
<h1 class="title">Who Are We?</h1>
<section id="about">
    <div class="container">
    <div class="row">
    <div class="column about">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOV0-voVRWxq2IH4JW09qNqfe8ncEPudRL2g&usqp=CAU" class="about-img">
    <h1>Free</h1>
    <p>Our website offers users the ability to create their 
        own wishlist <br>of current and upcoming games at no expense.</p>
    </div>
    <div class="column about">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOV0-voVRWxq2IH4JW09qNqfe8ncEPudRL2g&usqp=CAU"class="about-img">
    <h1>Story</h1>
    <p>We are Dev Team 1, students of ECPI University, and we created <br>RetroSto
        because there were no other free websites that offered gamers the ability
        to creat their own wishlist with games across any <br>of their preferred gaming
        platforms. As developers we sought to create exactly what we would want
        as gamers, and we're proud to have succeeded.
    </p>
    </div>
    <div class="column about">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOV0-voVRWxq2IH4JW09qNqfe8ncEPudRL2g&usqp=CAU" class="about-img">
     <h1>Mission</h1>
    <p>Our goal is to aid gamers in cataloging and referencing their favorite
        <br>and most anticipated games across any of their preferred gaming platform.
        The site was also designed to be as user friendly as possible, allowing
        our users to share their wishlist with friends and loved ones, be it for gift
        giving or even the connection that sharing our interests can bring about.
    </p>
 </div>
</div>
</div>
<button style="background-color:rgb(243, 122, 22); border-color:rgb(0, 0, 0); color:white"> 
    Start Your Wishlist</button>
</div>
</div>

</section>
{% endblock content %}

