{% extends "home/base.html" %}

{% block content %}
    <div>
        <h1>About Us</h1>
        <h2><img src="https://cdn01.x-plarium.com/browser/content/blog/images/2018/week_16/cross-platform-4.jpg" alt="Cross-Platform Games: Changing the World - Plarium" class="n3VNCb" jsname="HiaYvf" jsaction="load:XAeZkd;" data-noaft="1" style="width: 434px; height: 215.045px; margin: 0px;"></h2>
        <p>RetroSto is a muti-platform wishlist.</p>
        <p2>We believe there is a better way to access, store, and check out games you want to keep around for a later date.</p2>
        <p3><br>It is a place where you can store games from any platform whenever you want. Our team has <br>been doing our best to ensure that our users are happy making their very own wish list.</p3>
    </div>
{% endblock content %}
