{% extends "home/base.html" %}

{% block content %}
<div class="banner2"> 
    <div class="app-text2">
<h1 class="title">About Us</h1>
<section id="about">
    <div class="container">
    <div class="row">
    <div class="column about">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOV0-voVRWxq2IH4JW09qNqfe8ncEPudRL2g&usqp=CAU" class="about-img">
    <h1>Wishlist</h1>
    <p>RetroSto lets users create a wishlist from all 
        platforms and allows them access...</p>
    </div>
    <div class="column about">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOV0-voVRWxq2IH4JW09qNqfe8ncEPudRL2g&usqp=CAU" class="about-img">
    <h1>Games</h1>
    <p>RetroSto lets user create a wishlist from all 
                platforms and allows them access...</p>
    </div>
    <div class="column about">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOV0-voVRWxq2IH4JW09qNqfe8ncEPudRL2g&usqp=CAU" class="about-img">
     <h1>Store</h1>
    <p>RetroSto lets user create a wishlist from all 
    platforms and allows them access...</p>
 </div>
</div>
</div>
<button style="background-color:rgb(243, 122, 22); border-color:rgb(0, 0, 0); color:white"> 
    Start Your Wishlist</button>
</div>
</div>

</section>
{% endblock content %}

