<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>RetroSto</title>
  <meta name="description" content="RetroSto">
  <meta name="author" content="SitePoint">

 <link href="test.css" rel="stylesheet" />



  
<!-- Top navigation -->

	<ul class="nav">
	<li><img src="logoimage.png" alt="RetroStoLogo" id="logo"></li>
		<li><a href="home.html">Home</a></li>
		<li><a class="active" href="wishlist.html">Wish List</a></li>
		<li><a href="categories.html">Categories</a></li>
		<li><a href="about.html">About</a></li>
		<li><div class ="dropdown">
		<img src="img_avatar.png" alt="Avatar" class="avatar">
		<div class="dropdown-content">
			<a href="signin.html">Sign In</a>
		</li>
		<li>
		<input type="search" id="query" name="q" placeholder="Search...">
		<button id="query">Search</button>
		</li>
		
	
		
	</ul>
	

</head>

<body>

</body>
</html>